# Phase 3 project: Tanzania Water Wells
#### Author: Jelimo Marion


## Business Understanding

### Business Problem

The Government of Tanzania wants to repair the wells that have broken down in their country as well as build new wells with minimized if not eliminated break-down rate. However, they need to identify and locate these wells as well as identify reasons of breakdown for future building.

### Problem Statement

The task at hand is to create a classifier algorithm that predicts the condition of the water well, using information gathered from existing wells.

### Objectives

- To create a classifier algorithm that predicts the condition of a water well
- To predict how likely a well is to break down
- To identify which wells are in need of repair
- To reduce the break-down rate of future wells

## Data Understanding

### Data Sources

[Training set values](https://drivendata-prod.s3.amazonaws.com/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARVBOBDCYQTZTLQOS%2F20231129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231129T174425Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=8fcfe12f8d01e28baee0064992a62bcd3b96d77890cc955105770c25c58ea3cc): The independent variables for the training set.

[Training set labels](https://drivendata-prod.s3.amazonaws.com/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARVBOBDCYQTZTLQOS%2F20231129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231129T214041Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=60029d375fbfc8be2d7ee2d3850ea54d7d3d2330fd493ca71894c147a44f3b9c): The dependent variable (status_group) for each of the rows in Training set values.

In [1]:
import pandas as pd

data1 = pd.read_csv("./data/Training Set Values.csv")
data2 = pd.read_csv("./data/Training Set Labels.csv")

data1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,14/03/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,06/03/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,25/02/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,28/01/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,13/07/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [2]:
data1.shape

(59400, 40)

In [3]:
data2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [4]:
data2.shape

(59400, 2)

Combining the two data sets

In [5]:
merged_data = data1.merge(data2[['status_group']], left_index=True, right_index=True, how='inner')
merged_data.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,14/03/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,06/03/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,25/02/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,28/01/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,13/07/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

The labels provided in the `Training Set Labels` data set indicate a ternary classification problem by default, but can be engineered to be binary.
So for this data set we shall only consider two categories in accordance to our objectives;
- non functional
- functional needs repair
Our new dataframe, `df` shall be:

In [6]:
df = merged_data[merged_data['status_group'].isin(['non functional', 'functional needs repair'])]

In [7]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
3,67743,0.0,28/01/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
6,19816,0.0,01/10/2012,Dwsp,0,DWSP,33.362410,-3.766365,Kwa Ngomho,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
7,54551,0.0,09/10/2012,Rwssp,0,DWE,32.620617,-4.226198,Tushirikiane,0,...,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
8,53934,0.0,03/11/2012,Wateraid,0,Water Aid,32.711100,-5.146712,Kwa Ramadhan Musa,0,...,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
16,48451,500.0,04/07/2011,Unicef,1703,DWE,34.642439,-9.106185,Kwa John Mtenzi,0,...,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional

In [8]:
df.shape

(27141, 41)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27141 entries, 3 to 59394
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     27141 non-null  int64
 1   amount_tsh             27141 non-null  float64
 2   date_recorded          27141 non-null  object
 3   funder                 25487 non-null  object
 4   gps_height             27141 non-null  int64
 5   installer              25486 non-null  object
 6   longitude              27141 non-null  float64
 7   latitude               27141 non-null  float64
 8   wpt_name               27141 non-null  object
 9   num_private            27141 non-null  int64
 10  basin                  27141 non-null  object
 11  subvillage             26975 non-null  object
 12  region                 27141 non-null  object
 13  region_code            27141 non-null  int64
 14  district_code          27141 non-null  int64
 15  lga                    27141 non-null  object
 16  ward                   27141 non-null  object
 17  population             27141 non-null  int64
 18  public_meeting         25485 non-null  object
 19  recorded_by            27141 non-null  object
 20  scheme_management      25137 non-null  object
 21  scheme_name            13463 non-null  object
 22  permit                 25758 non-null  object
 23  construction_year      27141 non-null  int64
 24  extraction_type        27141 non-null  object
 25  extraction_type_group  27141 non-null  object
 26  extraction_type_class  27141 non-null  object
 27  management             27141 non-null  object
 28  management_group       27141 non-null  object
 29  payment                27141 non-null  object
 30  payment_type           27141 non-null  object
 31  water_quality          27141 non-null  object
 32  quality_group          27141 non-null  object
 33  quantity               27141 non-null  object
 34  quantity_group         27141 non-null  object
 35  source                 27141 non-null  object
 36  source_type            27141 non-null  object
 37  source_class           27141 non-null  object
 38  waterpoint_type        27141 non-null  object
 39  waterpoint_type_group  27141 non-null  object
 40  status_group           27141 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 8.7+ MB

### D
#### Dealing with Missing Values

In [10]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    1654
gps_height                   0
installer                 1655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 166
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            1656
recorded_by                  0
scheme_management         2004
scheme_name              13678
permit                    1383
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [ ]:
irrelevant_features = df['date_recorded', 'funder', 'wpt_name', 'region', 'lga', 'ward', 'scheme_name', 'payment_type']